.header {
  padding: 0.5rem;
  background: $white;
  color: $black;
  display: flex;
  align-items: center;
  height: 80px;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    .search-form {
      width: 280px;
      background: #fff 0 0 no-repeat padding-box;
      border: 1px solid #00000026;
      border-radius: 24px;
      display: flex;
      flex-direction: row;
      height: 48px;
      padding: 10px 16px;
      position: relative;
      transition: all 0.3s ease-in-out;
      .search-button {
        background: transparent;
        border: none;
        outline: none;
        padding: 0 6px 5px 2px;
      }
      .search-input {
        color: $black;
        font-size: $text-headline;
        font-weight: 700;
        width: 100%;
        border: none;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 30px;
    .info-item {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    cursor: pointer;
    position: relative;

    .count {
      position: absolute;
      left: 20px;
      top: -6px;
      background: $secondary-color;
      border-radius: 50%;
      color: black;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      font-size: 10px;
    }
  }

  &__cart-box {
    .drop-box {
      position: absolute;
      background: white;
      color: $black;
      width: 475px;
      padding: 0.5rem 0.8rem;
      right: 0;
      top: 0;
      height: 100vh;
      overflow: auto;
      box-shadow: 0 0 5px #00000026;
      .close-box {
        display: flex;
        flex-direction: row-reverse;
        cursor: pointer;
        padding: 5px;
      }
      .drop-title {
        padding-block: 10px;
        color: $black;
        font-weight: 600;
        text-align: center;
        > p {
          color: $primary-color;
          font-size: $text-title3;
        }
      }
      .cart-summary {
        margin-block: 20px;
        font-weight: 600;
      }
      .drop-items {
        padding-inline: 5px;
        .drop-li {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          padding-block: 10px;
          padding-inline: 5px;
          border: 1px solid #ececec;
          border-radius: 7px;
          margin-bottom: 10px;
        }
        .drop-product {
          display: flex;
          align-items: center;
          gap: 10px;
          .img-box {
            height: 60px;
            width: 60px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .drop-details {
            width: 80%;
            h6 {
              font-size: $text-body;
              font-weight: 600;
            }
            p {
              font-size: $text-body;
              font-weight: normal;
              color: $primary-color;
              padding-top: 5px;
              font-weight: 600;
            }
            .quantity {
              color: $black;
            }
          }
        }
        .drop-remove {
          color: $black;
          font-size: $text-caption;
          background: $secondary-color;
          border-radius: $text-caption;
          width: 80px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          cursor: pointer;
        }
        .empty-cart {
          color: $primary-color;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 15px;
          padding-bottom: 5px;
          font-weight: 600;
        }
      }
      .total-price {
        padding-block: 15px;
        text-align: center;
        font-weight: bold;
        font-size: $text-subtitle;
      }
      .review-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-block: 15px;

        button {
          padding: 12px 35px;
          border-radius: 27px;
          border: none;
          overflow: hidden;
          font-weight: bold;
          cursor: pointer;
          font-size: $text-body;
          transition: all 0.3s ease-in-out;
          height: 54px;
          min-width: 196px;
        }

        .button-cart {
          background-color: $primary-color;
          color: $white;
        }

        .button-pickup {
          background-color: $secondary-color;
          color: $black;
        }
      }
    }
  }
  &__logo {
    width: 10%;
    img {
      object-fit: contain;
    }
  }

  &__logo-img {
    width: 85px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 1s ease;
  animation: smoothScroll 1s forwards;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  z-index: 9999;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }

  100% {
    transform: translateY(0px);
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}
